.App {

}

body {
  background: #c6deef;
}

video {
  max-width: 90%;
  cursor: pointer;
  margin: 1em auto;
}

textarea {
  width: 80%;
  padding: 10px;
  margin-left: 3.5%;
}

input {
  padding: 1.5% 3%;
  border: 1px solid black;
  border-radius: 0.8em;
  float: right;
  margin: 1.5% 3.5% 4% 2%;
  /* margin-right: 3.5%;
  margin-top: 1.5%; */
}

form {
  padding: 1em;
}

#top {
  /* background: #2c78e2; */
  background: linear-gradient(#2866bd, transparent, transparent), url("../img/skyscraper_cover.jpg") no-repeat center; 
  background-size: cover; 
  opacity: 0.95;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 17%;
  width: 98%;
  padding: 1rem 4rem;
  margin: .5% 1% 0;
  color: white;
}

h1, h4 {
  float: right;
}

h5 {
  margin: 3% 7%;
}

a {
  color: #6940b7;
  text-decoration: none;
  background-color: transparent;
}

p {
  margin: 1em 3em;
}

ul {
  margin-top: 3%;
}

li {
  margin: 0 5%;
}

.card {
  margin: 1% 2% 7%;
}

.row {
  margin: 18% 1% 5%;
}

.nav-link {
  display: block;
  padding: .4rem .6rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #37393d;
}

.question {
  font-size: 1.5rem;
  margin: auto 3rem;
}

.CandidateList {
  /* min-width: 15%; */
  /* max-width: 25%; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
