.App {

}

body {
  background: #c6deef;
}

video {
  /* max-height: 55%; */
  max-width: 90%;
  /* left: 0;
  padding: 10%; */
  margin: 1em auto;
}

textarea {
  width: 75%;
  padding: 10px;
  margin-left: 3.5%;
}

input {
  padding: 1.5% 3%;
  border: 1px solid black;
  border-radius: 0.8em;
  float: right;
  margin: 2% 3.5% 2% 2%;
  /* margin-right: 3.5%;
  margin-top: 1.5%; */
}

form {
  padding: 1em;
}

#top {
  background: white;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 15%;
  width: 100%;
  padding: 1rem 6rem;
}

h5 {
  margin: auto;
}

a {
  color: #6940b7;
  text-decoration: none;
  background-color: transparent;
}

p {
  margin: 1em 3em;
}

.card {
  margin-left: 1%;
  margin-bottom: 2rem;
}

.row {
  margin: 14% 1% 5%;
}

.nav-link {
  display: block;
  padding: .4rem .6rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #37393d;
}

.question {
  font-size: 1.5rem;
  margin: auto 1rem;
}

.CandidateList {
  /* min-width: 15%; */
  /* max-width: 25%; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
